header.l-header
  h1
    a(href="/index.html") 株式会社HogeHoge
  nav.gnav
    ul.gnav__list
      li.gnav__item
        a.gnav__link(href="/index.html") トップ
      li.gnav__item
        a.gnav__link(href="/access.html") アクセス
      li.gnav__item
        a.gnav__link(href="/recruit.html") 採用情報
      li.gnav__item
        a.gnav__link(href="/members/taro.html") タローのページ
