header.l-header
  .l-header__inner
    h1.l-header__logo
      a(href="/index.html") 株式会社HogeHoge
    .c-langnav
      ul.c-langnav__list
        li.c-langnav__item
          a.c-langnav__link(href="/index.html") JP
        li.c-langnav__item
          a.c-langnav__link(href="/index.html") EN
    nav.c-gnav
      ul.c-gnav__list
        li.c-gnav__item
          a.c-gnav__link(href="/intro.html") あいさつ
        li.c-gnav__item
          a.c-gnav__link(href="/business.html") 事業内容
        li.c-gnav__item
          a.c-gnav__link(href="/company.html") 会社概要
        li.c-gnav__item
          a.c-gnav__link(href="/news.html") ニュース
        li.c-gnav__item
          a.c-gnav__link(href="/access.html") アクセス
        li.c-gnav__item
          a.c-gnav__link(href="/recruit.html") 採用情報
        li.c-gnav__item
          a.c-gnav__link(href="/contact.html") お問い合わせ
