header.l-header
  h1
    a(href="/index.html") 株式会社HogeHoge
  nav.c-gnav
    ul.c-gnav__list
      li.c-gnav__item
        a.c-gnav__link(href="/index.html") トップ
      li.c-gnav__item
        a.c-gnav__link(href="/access.html") アクセス
      li.c-gnav__item
        a.c-gnav__link(href="/recruit.html") 採用情報
      li.c-gnav__item
        a.c-gnav__link(href="/members/taro.html") タローのページ
