extends _layout.pug
block content
  main.l-main
    .l-hero
      .l-hero__inner
        .l-hero__txt
          p ホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲホゲ
        .l-hero__img
          img(src="../images/header.jpg")
          img(src="../images/header2.jpg")
